# Sampel config file for ringpp
#
# comments and blank lines are skipped

# A transformation has the form [c string]
#
# 'string' is everything else on the line after 'c'
# Whitespace between c and string is skipped, string may contain whitespace

a |aaaa|
b |bababa|
c  |cac cac|
d | aou aust lchu smo rrr o snou  ao] ]**++ *)*]}+ +]+)*)* |